# Archivos compilados de Python
__pycache__/
*.pyc 
*.py[cod]
*$py.class
*.so 
.Python
*.egg-info/

# Odoo
filestore/
sessions/
*.Log

# Configuración de Editores / IDE
.vscode/
.idea/

# Archivos temporales de editores
*.swp
*swo

# macOS
.DS_Store

# Windows
Thumbs.db

# entornos vistuales (opcional)
venv/
env/
.env
